.header > img{
    width: 100px;
    height: 100px;
    position: relative;
    right: 50px;

}

.wholeBody {
    display: flex;
    padding: 40px;
    justify-content: space-around;
    align-items: center;
}

.all {
    display: flex;
    gap: 40px;
}

.log {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    position: relative;
    left: 40px;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.all a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    line-height: 2.4rem;
    color: #075450;
    font-family: "Arial Rounded MT Bold";
}